body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}  
@keyframes rotate_sky {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);

  }
}
#background {
  z-index: -2;
  position: fixed;
  top: -50%;
  left: -150vw;
  transform-origin: center;
  animation: rotate_sky 480s infinite linear;
  user-select: none;
  pointer-events: none;
}
#ground {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 50px;
  bottom: 0px;
  user-select: none;
  pointer-events: none;
}
.left {
  float:left;
  padding: 100px;
}
.right {
  float: right;
  padding: 100px;
}
.center-text {
  text-align: center;
  width:max-content;
  margin: auto;
}